In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df= pd.read_csv('ecommerce_clean.csv')

### 1. Show only the rows where the customer is from the "Madhya Pradesh" state.

In [20]:
# This is boolean indexing
df[df.state=='Madhya Pradesh'] 

#? or 
# This is label based selection 
df.loc[df['state']=='Madhya Pradesh']

#?
df.query("state == 'Madhya Pradesh'")

#?
df[df.state.isin(['Madhya Pradesh'])]

,Unnamed: 0,index,order_id,order_date,delivered_date,customer_id,customer_name,customer_age,customer_gender,customer_segment,...,total_amount,payment_method,delivery_time_days,order_status,rating,is_repeat_customer,order_year,order_month,order_quarter,order_day_of_week
0,0,0,ORD100722,2020-01-01,2020-01-04,CUST10257,Vikram Kumar,56,Female,Corporate,...,555.95,Credit Card,3,Delivered,4.5,No,2020,1,Q1,Wednesday
3,3,3,ORD100031,2020-01-19,2020-01-23,CUST10152,Kavita Reddy,64,Female,Consumer,...,13147.86,UPI,4,Delivered,4.0,No,2020,1,Q1,Sunday
15,15,15,ORD100284,2020-02-08,2020-02-15,CUST10061,Kavita Verma,60,Male,Consumer,...,2209.97,Credit Card,7,Delivered,4.0,No,2020,2,Q1,Saturday
19,19,19,ORD100602,2020-02-12,2020-02-13,CUST10256,Vikram Nair,60,Male,Home Office,...,18061.37,Credit Card,1,Delivered,NaN,No,2020,2,Q1,Wednesday
49,49,49,ORD100725,2020-03-26,NaN,CUST10279,Sneha Iyer,57,Female,Corporate,...,6270.64,Net Banking,6,Cancelled,NaN,No,2020,3,Q1,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,945,952,ORD100828,2024-06-08,2024-06-11,CUST10115,Rahul Kumar,31,Male,Home Office,...,4907.39,Net Banking,3,Delivered,5.0,Yes,2024,6,Q2,Saturday
953,953,960,ORD100678,2024-06-23,2024-06-28,CUST10017,Rajesh Reddy,62,Male,Consumer,...,1082.49,Cash on Delivery,5,Delivered,4.5,Yes,2024,6,Q2,Sunday
966,966,973,ORD100426,2024-07-12,2024-07-15,CUST10274,Rahul Patel,49,Male,Consumer,...,2744.72,UPI,3,Delivered,3.5,Yes,2024,7,Q3,Friday
979,979,986,ORD100361,2024-08-13,NaN,CUST10107,Anjali Nair,55,Female,Corporate,...,20000.34,Credit Card,3,Shipped,NaN,Yes,2024,8,Q3,Tuesday
995,995,1003,ORD100626,2024-09-22,NaN,CUST10266,Karan Verma,31,Male,Corporate,...,61720.01,Credit Card,7,Shipped,NaN,Yes,2024,9,Q3,Sunday