In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_columns',None)
df=pd.read_csv(r'D:\Data Analytics\Python\Panda\Problem_Solving\ecommerce_clean.csv')

In [2]:
df.head(2)

,Unnamed: 0,index,order_id,order_date,delivered_date,customer_id,customer_name,customer_age,customer_gender,customer_segment,region,state,city,product_id,product_name,category,sub_category,brand,unit_price,quantity,discount_percentage,discount_amount,sales_amount,profit_margin,profit_amount,tax_rate,tax_amount,shipping_cost,shipping_method,total_amount,payment_method,delivery_time_days,order_status,rating,is_repeat_customer,order_year,order_month,order_quarter,order_day_of_week
0,0,0,ORD100722,2020-01-01,2020-01-04,CUST10257,Vikram Kumar,56,Female,Corporate,Central,Madhya Pradesh,Indore,PROD9221,Local Publishers Comics,Books,Comics,Local Publishers,495.34,1,10,49.53,445.80,0.448,199.71,0.12,53.50,56.65,Standard,555.95,Credit Card,3,Delivered,4.5,No,2020,1,Q1,Wednesday
1,1,1,ORD100766,2020-01-14,2020-01-15,CUST10171,Kavita Kumar,57,Male,Consumer,West,Gujarat,Vadodara,PROD6296,Oxford Self-Help,Books,Self-Help,Oxford,1313.37,4,0,0.00,5253.49,0.439,2306.35,0.12,630.42,125.12,Express,6009.03,Debit Card,1,Delivered,5.0,No,2020,1,Q1,Tuesday

### For each category, find the product with the highest average rating among products. Show category, best product name, avg rating, and number of orders for that product.

In [ ]:
# Approach 1 : Using groupby + sort_values + head(1)
prod_stat=df.groupby(['category','product_name']).agg(avg_rating=('rating','mean'),order_count=('order_id','count'))\
    .reset_index()

prod_stat=prod_stat.sort_values(by=['category','avg_rating','order_count'], ascending=[True,False,False])

prod_stat=prod_stat.groupby('category').head(1)

In [43]:
# Approach 2: Using groupby + idxmax()

p_stat=df.groupby(['category','product_name']).agg(avg_rating=('rating','mean'),order_count=('order_id','count'))\
    .reset_index()

idx=p_stat.groupby('category')['avg_rating'].idxmax()
p_stat.loc[idx]

        category      product_name  avg_rating  order_count
18         Books  Penguin Academic       4.750            3
45      Clothing       Levis Jeans       5.000            1
88   Electronics   LG Smartwatches       5.000            2
107    Furniture  Godrej Wardrobes       5.000            2
146   Home Decor    Hometown Lamps       5.000            1
165      Kitchen    Milton Cutlery       4.625            6

In [50]:
h_cat=df.groupby('category')['sales_amount'].sum().reset_index()

max_idx=h_cat['sales_amount'].idxmax()
h_cat.loc[max_idx]

category          Furniture
sales_amount    13516030.89
Name: 3, dtype: object