In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_columns',None)
df=pd.read_csv(r'D:\Data Analytics\Python\Panda\Problem_Solving\ecommerce_clean.csv')

In [2]:
df.head(2)

,Unnamed: 0,index,order_id,order_date,delivered_date,customer_id,customer_name,customer_age,customer_gender,customer_segment,region,state,city,product_id,product_name,category,sub_category,brand,unit_price,quantity,discount_percentage,discount_amount,sales_amount,profit_margin,profit_amount,tax_rate,tax_amount,shipping_cost,shipping_method,total_amount,payment_method,delivery_time_days,order_status,rating,is_repeat_customer,order_year,order_month,order_quarter,order_day_of_week
0,0,0,ORD100722,2020-01-01,2020-01-04,CUST10257,Vikram Kumar,56,Female,Corporate,Central,Madhya Pradesh,Indore,PROD9221,Local Publishers Comics,Books,Comics,Local Publishers,495.34,1,10,49.53,445.80,0.448,199.71,0.12,53.50,56.65,Standard,555.95,Credit Card,3,Delivered,4.5,No,2020,1,Q1,Wednesday
1,1,1,ORD100766,2020-01-14,2020-01-15,CUST10171,Kavita Kumar,57,Male,Consumer,West,Gujarat,Vadodara,PROD6296,Oxford Self-Help,Books,Self-Help,Oxford,1313.37,4,0,0.00,5253.49,0.439,2306.35,0.12,630.42,125.12,Express,6009.03,Debit Card,1,Delivered,5.0,No,2020,1,Q1,Tuesday

### Top 3 products (by total sales_amount) in each category. Show category, product_name, total sales, and rank within category.

In [28]:
prod=df.groupby(['category','product_name'])\
    .agg(total_sale=('sales_amount','sum'))\
    .sort_values(by=['category','total_sale'],ascending=[True,False])

prod['rnk']=prod.groupby('category')['total_sale']\
    .rank(method='min',ascending=False).astype('int')

prod[prod['rnk']<=3].reset_index()

       category                product_name  total_sale  rnk
0         Books        HarperCollins Comics    23541.61    1
1         Books         Penguin Non-Fiction    20920.32    2
2         Books  Local Publishers Self-Help    20384.46    3
3      Clothing            Puma Accessories    66938.25    1
4      Clothing                Zara Jackets    58903.25    2
5      Clothing              Adidas Jackets    56155.22    3
6   Electronics               Apple Tablets    33221.11    1
7   Electronics               Apple Laptops    33176.55    2
8   Electronics                  HP Cameras    28553.80    3
9     Furniture          UrbanLadder Chairs  1059096.44    1
10    Furniture                 Godrej Beds   927936.04    2
11    Furniture          Nilkamal Sofa Sets   837628.89    3
12   Home Decor         HomeCenter Cushions   179262.48    1
13   Home Decor           Hometown Curtains   158716.45    2
14   Home Decor           WestSide Wall Art   132789.54    3
15      Kitchen            Hawkins Cookware   225103.52    1
16      Kitchen              Milton Storage   156325.15    2
17      Kitchen           Milton Dinnerware   129719.86    3

        category                product_name  sales_amount  rank
1          Books        HarperCollins Comics      23541.61     1
22         Books         Penguin Non-Fiction      20920.32     2
11         Books  Local Publishers Self-Help      20384.46     3
54      Clothing            Puma Accessories      66938.25     1
62      Clothing                Zara Jackets      58903.25     2
32      Clothing              Adidas Jackets      56155.22     3
71   Electronics               Apple Tablets      33221.11     1
68   Electronics               Apple Laptops      33176.55     2
78   Electronics                  HP Cameras      28553.80     3
127    Furniture          UrbanLadder Chairs    1059096.44     1
102    Furniture                 Godrej Beds     927936.04     2
117    Furniture          Nilkamal Sofa Sets     837628.89     3
139   Home Decor         HomeCenter Cushions     179262.48     1
144   Home Decor           Hometown Curtains     158716.45     2
155   Home Decor           WestSide Wall Art     132789.54     3
158      Kitchen            Hawkins Cookware     225103.52     1
167      Kitchen              Milton Storage     156325.15     2
166      Kitchen           Milton Dinnerware     129719.86     3