In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_columns',None)
df=pd.read_csv(r'D:\Data Analytics\Python\Panda\Problem_Solving\ecommerce_clean.csv')

In [3]:
df.head(2)

,Unnamed: 0,index,order_id,order_date,delivered_date,customer_id,customer_name,customer_age,customer_gender,customer_segment,region,state,city,product_id,product_name,category,sub_category,brand,unit_price,quantity,discount_percentage,discount_amount,sales_amount,profit_margin,profit_amount,tax_rate,tax_amount,shipping_cost,shipping_method,total_amount,payment_method,delivery_time_days,order_status,rating,is_repeat_customer,order_year,order_month,order_quarter,order_day_of_week
0,0,0,ORD100722,2020-01-01,2020-01-04,CUST10257,Vikram Kumar,56,Female,Corporate,Central,Madhya Pradesh,Indore,PROD9221,Local Publishers Comics,Books,Comics,Local Publishers,495.34,1,10,49.53,445.80,0.448,199.71,0.12,53.50,56.65,Standard,555.95,Credit Card,3,Delivered,4.5,No,2020,1,Q1,Wednesday
1,1,1,ORD100766,2020-01-14,2020-01-15,CUST10171,Kavita Kumar,57,Male,Consumer,West,Gujarat,Vadodara,PROD6296,Oxford Self-Help,Books,Self-Help,Oxford,1313.37,4,0,0.00,5253.49,0.439,2306.35,0.12,630.42,125.12,Express,6009.03,Debit Card,1,Delivered,5.0,No,2020,1,Q1,Tuesday

### Task: For each state, calculate:

- total orders
- average delivery_time_days
- % of orders with discount_percentage > 0

Then sort states by total orders descending and show only the top 10 in a styled table (highlight the state with highest avg delivery time in red).

In [11]:
state_data=df.groupby('state')\
    .agg(
        order_count=('order_id','count'),
        avg_delivery_time_days=('delivery_time_days','mean'),
        discount_pct=('discount_percentage',lambda x:(x>0).mean()*100)
        )
    
state_data.nlargest(n=10,columns='order_count')

                order_count  avg_delivery_time_days  discount_pct
state
Madhya Pradesh           94                4.042553     79.787234
Chhattisgarh             90                3.844444     75.555556
Maharashtra              78                3.782051     78.205128
Goa                      75                4.040000     80.000000
Gujarat                  72                3.569444     80.555556
Karnataka                64                4.250000     84.375000
Bihar                    60                3.900000     63.333333
Delhi                    55                3.672727     85.454545
Assam                    53                3.981132     84.905660
Odisha                   51                3.725490     78.431373