In [7]:
import pandas as pd

In [11]:
df= pd.read_csv(r'D:\Data Analytics\Python\Panda\Problem_Solving\ecommerce_clean.csv')

### 4. Find out how many orders were placed in each order_month. Sort the result from highest to lowest number of orders.

In [31]:
df.groupby('order_month')['order_id'].count() \
    .sort_values(ascending=False) \
    .reset_index()

#? or

df.groupby('order_month')['order_id'].agg(order_count='count')\
    .sort_values(by='order_count',ascending=False)\
    .reset_index()

    order_month  order_count
0            11          113
1            10          109
2             5           87
3             9           85
4            12           85
5             8           84
6             3           82
7             2           82
8             1           77
9             4           70
10            6           65
11            7           61